.log {
	display: flex;
	flex-direction: row;
	height: 100vh;

	.block {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;

		.blockContainer {
			h1 {
				margin-top: 10px;
				margin-bottom: 25px;
				font-size: 44px;
				text-align: center;
			}
	
			.container {
				height: auto;
				padding: 20px;
				display: flex;
				justify-content: center;

				.bord {
					border: 2px dashed #6B6585;
					padding: 20px;

					.forms {
						height: auto;
						display: flex;
						flex-direction: column;
						justify-content: center;

						input {
							background-color: #F4F5F4;
							margin-bottom: 20px;
							font-size: 18px;
							padding: 22px 250px 22px 15px;
							max-width: 500px;
							width: 100%;

							&::placeholder{
								width: 400px;
							}
						}
					}
				
				}
			}

		}

		.label{
			margin-top: -5px;
			display: flex;
			margin-left: 50px;
			font-size: 14px;

			input{
				margin-left: 20px;
			}
		}

		.forgetPassword{
			font-size: 14px;
			margin-left: 20px;
		}

		.text{
			margin-bottom: 20px;
			margin-left: 10px;
			opacity: 30%;
		}

		button {
			display: flex;
			margin: auto;
			background-color: #FFED00;
			padding: 12px 68px;
		}
	}

	.yet{
		text-align: center;
		font-size: 14px;
		opacity: 30%;
		padding-top: 15px;
		margin-left: 90px;
		margin-right: 80px;
	}

	.imageContainer {
		display: block;
		width: 815px;
		position: relative;
		height: 100%;
		background: url('../../../../images/background.jpeg');
		background-size: cover;

		.headText{
			margin: 300px 250px 541px;
			font-size: 86px;
			position: absolute;
			color: #FFED00;
		}

		.subText{
			width: 410px;
			font-size: 22px;
			margin: 385px 260px 514px;
			position: absolute;
			color: white;
		}
	}
}

