@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

// .message {
// 	width: 100%;
// 	@include display(flex);
// 	@include justify-content(flex-start);

// 	&__content {
// 		padding: 8px;
// 		background-color: #333;
// 	}

// 	&__myMsg {
// 		@include justify-content(flex-end);
// 	}
// }

.message {
	margin-top: 16px;
	width: 100%;
	@include display(flex);
	@include justify-content(flex-start);

	&:nth-child(1) {
		margin: 0;
	}
}

.msgMe {
	@include justify-content(flex-end)
}

.msgHeader {
	@include display(flex);
	@include align-items(center);
	margin-bottom: 8px;
}

.msgHeadMe {
	@include display(flex);
	@include justify-content(flex-end);
}

.msgContent {
	max-width: 50vw;
}

.msgOwnerName {
	color: #504F4F;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
}

.msgDate {
	margin-left: 8px;
	color: #D3D3D3;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
}

.msgText {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	@include display(flex);
	@include justify-content(flex-end);
}