.reg {
	display: flex;
	height: 100vh;
	width: 100%;

	.block {
		overflow: scroll;
		flex: 2;
		height: 100%;
		@media(min-height: 700px) {
			margin-top: 120px;
		}

		.blockContainer {
			display: flex;
			flex-direction: column;
			vertical-align: middle;


			.container {
				display: flex;
				flex-direction: column;
				padding: 20px;
				display: flex;
				justify-content: center;
				text-align: center;

				h1 {
					padding: 20px 0;
					font-size: 34px;
					text-align: center;
				}

				form {
					width: 80%;
					height: auto;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: 0 auto;

					button {
						display: flex;
						background-color: #FFED00;
						margin-top: 50px;
						width: 100%;
						max-width: 360px;
						padding: 10px 0;
					}

					.formBorder {
						border: 2px dashed #7B61FF;
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 10px 30px 10px 30px;
						border-radius: 5px;
						width: 100%;
						
						input {
							background-color: #F4F5F4;
							margin: 10px 0;
							font-size: 10px;
							height: 40px;
							padding: 0 5px 0 16px;
							width: 100%;
							max-width: 360px;

							@media(max-width: 905px) {
								font-size: 7px;
							}
						}
					}
				}

				.yet{

					font-size: 12px;
					opacity: 0.3;
					margin-top: 10px;
				}
			}

		}
	}

	.imgs {
		flex: 3;
		height: 100%;

		@media(max-width: 767px) {
			display: none;
		}

		.imageContainer {
			//display: block;
			//position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			background-attachment: fixed;
			background-position: center center;
			background: url('../../../../images/background.jpeg');
			background-size: cover;

			.headText{
				font-size: 86px;
				color: #FFED00;
				font-weight: 500;
				margin-bottom: 10px;
			}

			.subText{
				font-size: 22px;
				color: white;
			}
		}
	}
}

