.logo {
	width: 200px;
	height: 50px;
	background: #FFED00;
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		width: auto;
		font-size: 24px;
		color: #333333;

		&:nth-child(1) {
			font-weight: 700;
		}

		&:nth-child(2) {
			font-weight: 500;
		}
	}
}