.Pet{
	.main{
		form{
			button{
				background-color: #FFED00;
				margin-top: 50px;
				width: 360px;
				margin: 0 auto;
				padding: 10px 0;
			}

			.petition{
				width: 1145px;
				height: 125px;
				background: #F4F5F4;

				.headPet{
					
				}
			}
		}
	}
}